:host {
  background-color: #24232c;
  width: 100%;

  .password-error {
    color: #c71212;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .slider-wrapper {
    display: flex;
    max-width: 33.75rem;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem auto;
    background-color: #24232c;
    padding: 2.125rem;
    box-sizing: border-box;

    label {
      flex: 1;
      text-align: left;
      font-size: 1.125rem;
      color: #e6e5ea;
    }

    span {
      flex: 1;
      text-align: right;
      font-size: 2rem;
      color: #a4ffaf;
    }

    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      margin-top: 1rem;
      flex: 100%;
      background-color: transparent;

      &::-webkit-slider-thumb, &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1.75rem;
        height: 1.75rem;
        background-color: #e6e5ea;
        cursor: pointer;
        border-radius: 50%;
        margin-top: -0.7rem;

        &:hover {
          border: 0.125rem solid #a4ffaf;
          background-color: #18171f;
        }
      }

      &::-webkit-slider-runnable-track, &::-moz-range-track {
        -webkit-appearance: none;
        appearance: none;
        background-color: #18171f;
        height: 0.5rem;
      }
    }

    .checkbox-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      label {
        margin-top: 1.25rem;
        color: #e6e5ea;
        font-size: 1.125rem;
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
        }

        input[type="checkbox"] {
          -webkit-appearance: none;
          appearance: none;
          border: 0.125rem solid #a4ffaf;
          width: 1.25rem;
          height: 1.25rem;
          display: grid;
          place-content: center;
          margin-right: 1.7881rem;

          &:hover {
            cursor: pointer;
          }

          &::before {
            content: "";
            width: 1rem;
            height: 0.9rem;
            clip-path: polygon(
              14% 44%,
              0 65%,
              50% 100%,
              100% 16%,
              80% 0%,
              43% 62%
            );
            transform: scale(0);
            background-color: #18171f;
          }

          &:checked {
            background-color: #a4ffaf;

            &::before {
              transform: scale(1);
            }
          }
        }
      }
    }

    .strength-container {
      background-color: #18171f;
      display: flex;
      width: 100%;
      padding: 1rem;
      margin: 1.8rem 0;
      align-items: center;
      flex-wrap: wrap;

      .label {
        flex: 0.8;
        color: #817d92;
        font-size: 1.125rem;
        text-transform: uppercase;
        text-align: left;
      }

      .strength-wrapper {
        flex: 1;
        display: flex;
        align-items: center;

        .strength-level {
          font-size: 1.5rem;
          color: #e6e5ea;
          text-transform: uppercase;
          margin-right: 1rem;
        }

        .strength-squares {
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-end;

          .level {
            margin: 0 0.25rem;
            border: 2px solid #e6e5ea;
            width: 0.625rem;
            height: 1.75rem;
            box-sizing: border-box;
          }

          &.too-weak {
            .level:first-child {
              background-color: #f64a4a;
              border: none;
            }
          }
          &.weak {
            .level:first-child,
            .level:nth-child(2) {
              background-color: #fb7c58;
              border: none;
            }
          }
          &.medium {
            .level:first-child,
            .level:nth-child(2),
            .level:nth-child(3) {
              background-color: #f8cd65;
              border: none;
            }
          }
          &.strong {
            .level:first-child,
            .level:nth-child(2),
            .level:nth-child(3),
            .level:nth-child(4) {
              background-color: #a4ffaf;
              border: none;
            }
          }
        }
      }
    }

    button {
      flex: 100%;
      background-color: #a4ffaf;
      padding: 1.3125rem;
      color: #24232c;
      text-transform: uppercase;
      font-family: "Jet Brains Mono Regular";
      font-size: 1.125rem;
      border-color: #a4ffaf;

      &:hover {
        cursor: pointer;
        background-color: transparent;
        border: 0.125rem solid #a4ffaf;
        color: #a4ffaf;
      }

      fa-icon {
        position: absolute;
        margin-left: 1rem;
      }
    }
  }
}
