<div class="password-error" *ngIf="passwordError">
  <span>OOPS! No password generated :(</span>
</div>

<div class="slider-wrapper">
  <label for="slider-range">
    Character Length
  </label>
  <span class="range-value">{{ characterLength }}</span>
  <input (input)="getValue($event)" [value]="characterLength" id="slider-range" type="range" min="4" max="20" />

  <div class="checkbox-wrapper">
    <label for="uppercase">
      <input (click)="checkPasswordRule('uppercase')" type="checkbox" id="uppercase" />
      Include Uppercase Letters
    </label>
    <label for="lowercase">
      <input (click)="checkPasswordRule('lowercase')"  type="checkbox" id="lowercase" />
      Include Lowercase Letters
    </label>
    <label for="numbers">
      <input (click)="checkPasswordRule('numbers')"  type="checkbox" id="numbers" />
      Include Numbers
    </label>
    <label for="symbols">
      <input (click)="checkPasswordRule('symbols')" type="checkbox" id="symbols" />
      Include Symbols
    </label>
  </div>

  <div class="strength-container">
    <div class="label">
      STRENGTH
    </div>
    <div class="strength-wrapper">
      <span class="strength-level">{{ strengthLevel }}</span>
      <div #levelElement class="strength-squares">
        <div class="level" *ngFor="let level of [0, 1, 2, 3]"></div>
      </div>
    </div>
  </div>

  <button type="button" (click)="generatePassword()">
    GENERATE <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
  </button>
</div>

