:host {
  .password-input {
    position: relative;
    display: flex;
    max-width: 33.75rem;
    margin: 0 auto;

    input {
      width: 100%;
      height: 5rem;
      background-color: #24232c;
      border: 0;
      padding-left: 1rem;
      font-size: 2rem;
      font-family: "Jet Brains Mono Regular";
      color: #e6e5ea;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      padding-right: 3rem;
    }

    fa-icon {
      position: absolute;
      width: 1.3125rem;
      height: 1.5rem;
      right: 1rem;
      top: 1.75rem;
      color: #A4FFAF;
      font-size: 21px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
